<% include header %>

<div class="banner">
    <h1 class="banner-head">
        <span id="title">addy.ai</span><span id="subtitle"> editor </span>
        
    </h1>
</div>

<div id="container">
	<div id="quillContainer"></div>
</div>

<% include footer %>