<% include header %>
<body>
	<link rel="stylesheet" href="/stylesheets/football_style.css">
    <div id="mainContainerFootball"></div>
  	

    <script src="/build/football_bundle.js"></script>
    
<% include footer %>
