<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>

        <!-- React.js scripts -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

        <script type="text/babel" src="scripts/leaderboards.js"></script>
        <script type="text/babel" src="scripts/graphs.js"></script> -->

        <!-- CSS stylesheet -->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">

        <link rel="stylesheet" href="/stylesheets/quill.snow.css">


        <link rel='stylesheet' href='/stylesheets/pricing.css' />
        <link rel='stylesheet' href='/stylesheets/react_vis.css' />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    </head>

    <body>
        <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading">addy.ai</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item pure-menu-selected"><a href="/news" class="pure-menu-link">News</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>