<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <!-- CSS stylesheet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
        <!-- <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/base-min.css"> -->

        <link rel="stylesheet" href="/stylesheets/quill.snow.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/responsive_table.css' />
        <link rel='stylesheet' href='/stylesheets/pricing.css' />
        <link rel='stylesheet' href='/stylesheets/react_vis.css' />
        <link rel="stylesheet" href="/stylesheets/footer-distributed-with-address-and-phones.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </head>