<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <!-- CSS stylesheet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
        <!-- <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/base-min.css"> -->

        <link rel="stylesheet" href="/stylesheets/quill.snow.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/responsive_table.css' />
        <link rel='stylesheet' href='/stylesheets/pricing.css' />
        <link rel='stylesheet' href='/stylesheets/react_vis.css' />
        

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </head>

    <body>
        <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading">addy.ai</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item pure-menu-selected"><a href="/news" class="pure-menu-link">News</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>