<% include header %>
<div class="banner">
    <h1 class="banner-head">
        <span id="title">addy.ai</span><span id="subtitle"> baseball</span>
        
    </h1>
</div>

<div id="container">
    <div id="quillContainer"></div>
    <div class="container">
        
        <div class="col-sm-3">
            <h2>Batting leaders</h2>
            <div id="weeklyBattersStatsBox"></div>
        </div>

        <div class="col-sm-3">
            <h2>Pitching leaders</h2>
            <div id="weeklyPitchersStatsBox"></div>
        </div>

        <div class="col-sm-3">
            <h2>Team batting</h2>
            <div id="teamBattersStatsBox"></div>
        </div>

        <div class="col-sm-3">
            <h2>Team pitching</h2>
            <div id="teamPitchersStatsBox"></div>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-8">
         <h2>Power rankings</h2>
            <div id="teamListContent"></div>
        </div>

        
       <div class="col-sm-4">
            <h2>Admin tools</h2>
            <ul>
                <li><a href="/populatePastStats">populate past stats</a></li>
                <li><a href="/populateCurrentStats">populate current stats</a></li>
                <li><a href="/populateCurrentPlayerStats">populate current player stats</a></li>
            </ul>
        </div>
    </div>
</div>
    
<script src="../build/index_bundle.js"></script>
<% include footer %>
