<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to Addy.AI Fantasy Basketball Rankings</p>

        <h2>Commissioner Power Rankings</h2>
        <ol>
            <li>Kevin</li>
            <li>Davy</li>
            <li>Loc</li>
            <li>Wilbert</li>
            <li>Linsen</li>
            <li>Addy</li>
        </ol>

        <h2>Current Teams</h2>
        <p><%= teams %></p>

        <h2>Team Stats</h2>
        <p><%= stats %></p>
    </body>
</html>
