<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>

        <!-- React.js scripts -->
        <script src="https://fb.me/react-0.13.3.js"></script>
        <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>

        <!-- CSS stylesheet -->
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    
    <body>
        <h1><%= title %></h1>
        <p>Welcome to Addy.AI Fantasy Basketball Rankings</p>

        <h2>Commissioner Power Rankings</h2>
        <ol>
            <li>Kevin</li>
            <li>Davy</li>
            <li>Loc</li>
            <li>Wilbert</li>
            <li>Linsen</li>
            <li>Addy</li>
            <li>John</li>
            <li>Chris</li>
        </ol>

        <h2>Current Teams</h2>
        <p><%= teams %></p>

        <h2>Team Stats</h2>
        <p><%= stats %></p>
    </body>
</html>
