<% include header %>
<div class="banner">
    <h1 class="banner-head">
        <span id="title">addy.ai</span><span id="subtitle"> news </span>
        
    </h1>
</div>

<div id="container">
    <div id="newsArticleContainer"></div>
</div>

<script src="../build/news_bundle.js"></script>

<% include footer %>
