<% include header %>
<div class="banner">
    <h1 class="banner-head">
        <span id="title">addy.ai</span><span id="subtitle"> news </span>
        
    </h1>
</div>

<div id="container">
    <div class="pure-g">
        <div class="pure-u-md-1-5">
            <h3>Articles</h3>
            <ul>
                <li>Seager with 11th inning slam</li>
                <li>Other Seager strikes out</li>
                <li>Maeda throws no-hitter</li>
                <li>Syndergaard strikes out 15</li>
            </ul>
            <h3><a href="/editor">Write</a></h3>
        </div>

        <div class="pure-u-md-4-5">
            <div id="newsArticleContainer"></div>
        </div>
    </div>
</div>

<script src="../build/news_bundle.js"></script>

<% include footer %>
