.login-box {
	padding: 0px;
	background-color: rgba(169,169,169,0.9);
	font-weight: bold;
}

.voting-box {
	padding: 0px;
	background-color: #F7F7F7;
	font-weight: bold;
}

.login-box-inner {
	background-color: white;
	padding: 20px;
	width: 100%;
	font-weight: normal;
}

.login-box input {
	width: 100%;
}

.login-box p {
	margin-bottom: 50px;
}

.bold {
	font-weight: bold;
}

.splash-image {
	background: linear-gradient(rgba(255,255,255,.4), rgba(0,0,0,.5)), url('../media/richardsherman.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 450px;
	padding-top: 90px;
	margin-top: -23px;
	border: 3px solid black;
}

.splash-description {
	color: white;
	font-weight: bold;
}

.splash-description #splash-company {
	vertical-align: bottom;
	background-color: rgba(169,169,169,0.6);
	font-size: 1em;
	padding: 5px;
}

.splash-description #splash-football {
	vertical-align: bottom;
	background-color: rgba(169,169,169,0.6);
	font-size: 1.5em;
	padding: 5px;
}

.splash-description #splash-subtitle {
	background-color: rgba(169,169,169,0.6);
	font-size: 4em;
	padding: 5px;
}

.splash-description div {
	padding: 10px;
}

.warning {
	color: red;
	text-align: center;
	margin-left: 10px;
}

.nav-bar {
	background-color: white;
	padding: 0px;
	margin-bottom: 5px;
}

.container {

}

.nav-bar-title:hover {
	color: #8484C1;
	text-decoration: underline;
}

.nav-bar ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.nav-bar-subtitle li {
	padding: 10px;
	padding-left: 30px;
	margin: 0px;
}

.nav-bar-title {
	background-color: #ffd351;
	margin: 0px;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 1px;
	cursor: pointer;
	color: black;
}

#no-league-joined {
	padding: 10px;
	padding-left: 30px;
}

.content-box {
	width: 100%;
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
	font-weight: normal;
}

.matchup {
	width: 100%;
	padding: 20px;
	margin-bottom: 10px;
}

.vs {
	font-size: 30px;
	vertical-align: bottom;
	text-align: left;
	margin-top: 10px;
}

.owner-name {
	padding: 0px;
}

.team-name {
	font-size: 20px;
	padding: 0px;
}

.team {
	padding: 0px;
}

.team:hover {
	font-weight: bold;
	cursor: pointer;
}

.vote-selected {
	font-weight: bold;
	color: black;
}

.league-rows {
	list-style: none;
	padding: 3px;
	font-size: 1.1em;
}

.league-rows .league-row {
	margin-left: 10px;
	padding: 5px;
}

.league-header {
	font-size: 1.4em;
	font-weight: bold;
	margin: 5px;
}

.league-selected {
	font-weight: bold;
	color: black;
	background-color: green;
}

.league-menu-row:hover {
	text-decoration: underline;
	cursor: pointer;
	background-color: #ffecb3;
}

.pointer {
	cursor: pointer;
}

tr:hover {
	text-decoration: underline;
}

.league-filled {
	color: green;
}

.voting-week-menu {
	margin-bottom: 10px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.result-icon {
	font-size: 30px;
	vertical-align: bottom;
	text-align: center;
	margin-top: 10px;
}

.leaderboard-menu-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.remove-league-button {
	font-size: 0.9em;
	text-align: right;
	cursor: pointer;
	float: right;
}

.remove-league-icon {
	vertical-align: bottom;
}

.remove-league-icon:hover {
	color: maroon;
	text-decoration: underline;
}

.league-submit: {
	margin: 0px;
	padding: 0px;
}

th {
	font-size: .8em;
}

tr {
	font-size: 1.2em;
}
