body {
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
}

.btn {
	border-radius: 0px;
}

#container {
	margin: 0px;
	margin-top: 50px;
}

.well {
	border-radius: 0px;
}

.login-box {
	padding: 0px;
	background-color: rgba(169,169,169,0.9);
	font-weight: bold;
	margin-bottom: 10px;
}

.voting-box {
	padding: 0px;
	background-color: #F7F7F7;
	font-weight: bold;
}

.login-box-inner {
	background-color: white;
	padding: 20px;
	width: 100%;
	font-weight: normal;
}

.login-box input {
	width: 100%;
}

.login-box p {
	margin-bottom: 50px;
}

.bold {
	font-weight: bold;
}

.splash-image {
	background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.5) 48.32%), url('../media/richardsherman.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 500px;
	padding-top: 140px;
	margin-top: -23px;
	padding-bottom: 10px;
	/*border: 3px solid black;*/
}

.splash-inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
}

.homepage-row {

}

.container h1 {
	font-weight: 400;
	font-size: 3.5em;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 2px grey solid;
}

.container h2 {
	font-weight: 400;
	margin-bottom: 20px;
}

.steps-box-img {
	border-left: 3px grey dotted;
	padding-left: 10px;
	margin-bottom: 50px;
}


.splash-description {
	color: white;
	font-weight: 900;
	text-align: right;
}

.splash-description #splash-company {
	vertical-align: bottom;
	font-size: 1em;
	padding: 5px;
}

.splash-description #splash-football {
	vertical-align: bottom;
	font-size: 1.5em;
	padding: 5px;
}

.splash-description #splash-subtitle {
	font-size: 4em;
	padding: 5px;
}

.splash-description div {
	padding: 10px;
}

/* splash animations */
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.warning {
	color: red;
	text-align: center;
	margin-left: 10px;
}

.nav-bar {
	background-color: white;
	padding: 0px;
	margin-bottom: 5px;
}


.nav-bar-title:hover {
	color: #8484C1;
	text-decoration: underline;
}

.nav-bar ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.nav-bar-subtitle li {
	padding: 10px;
	padding-left: 30px;
	margin: 0px;
}

.nav-bar-title {
	background-color: #ffd351;
	margin: 0px;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 1px;
	cursor: pointer;
	color: black;
}

#no-league-joined {
	padding: 10px;
	padding-left: 30px;
}

.content-box {
	width: 100%;
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
	font-weight: normal;
}

.matchup {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.vs {
	vertical-align: middle;
	text-align: center;
	margin-top: 27px;
	/*display: inline-block;*/
	/*border: 1px black solid;*/
}

.vs span {
	font-size: 2em;
	text-align: left;
	font-weight: 900;
	/*border: 1px black solid;*/
}
.expand-button span {
	font-size: 26px;
	text-align: left;
	/*border: 1px black solid;*/
}

.expand-button {
	padding-top: 10px;
	display: inline-block;
}

.matchup-details-container {
	padding-top: 0px;
	margin-top: 0px;
}

.matchup-details-container .team {
	padding-top: 0px;
	/*border: 1px black solid;*/
}

.matchup-details-container ul {
	list-style-type: none;
	text-align: left;
	padding: 0px;
}

.matchup-details-container ul li {
	margin: 0px;

}

.matchup-details-container .team {
	padding: 0px;
	margin-left: 15px;
	font-size: 0.9em;
}

.left-icon-container {
	padding: 10px;
	margin-top: 8px;
}

.left-icon-container:hover {
	cursor: pointer;
	color: black;
}

.supporters-label {
	font-weight: bold;
	font-size: 1.2em;
	color: #7072E3;
}

.owner-name {
	padding: 0px;
}

.team-name {
	font-size: 20px;
	padding: 0px;
}

.team {
	padding: 20px;
}

.team:hover {
	font-weight: 900;
	cursor: pointer;
}

.vote-selected {
	font-weight: bold;
	color: black;
}

.team-score {
	float: left;
	font-size: 3em;
	clear: bottom;
}

.team-details {
	float: left;
}

.league-rows {
	list-style: none;
	padding: 3px;
	font-size: 1.1em;
}

.league-rows .league-row {
	margin-left: 10px;
	padding: 5px;
}

.league-header {
	font-size: 3.5em;
	font-weight: 900;
	/*font-family: 'Rubik One', sans-serif;*/
	margin: 5px;
}

.small-header {
	font-size: 1.3em;
	margin: 0px;
	font-weight: 700;
}

@media (max-width: 970px) {
	.container {
		margin-top: -20px;
	}

	.league-header {
		font-size: 2em;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.small-header {
		font-size: 2em;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.nav-bar-title {
		display: inline-block;
		width: 33.333%;
		min-height: 100%;
		vertical-align: bottom;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
	}

	.league-menu-button {
		width: 100%;
	}

	.nav-item {
		min-width: 30px;
	}

}

.league-selected {
	font-weight: bold;
	color: black;
	background-color: green;
}

.league-menu-row:hover {
	text-decoration: underline;
	cursor: pointer;
	background-color: #ffecb3;
}

.pointer {
	cursor: pointer;
}


.league-filled {
	color: green;
}

.voting-week-menu {
	margin-bottom: 10px;
}

.red {
	color: crimson;
}

.green {
	color: green;
}

.result-icon {
	font-size: 30px;
	vertical-align: bottom;
	text-align: center;
	margin-top: 10px;
}

.leaderboard-menu-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.remove-league-button {
	font-size: 0.5em;
	/*text-align: right;*/
	cursor: pointer;
	vertical-align: bottom;
	float: right;
	/*border: 1px black solid;*/
}

.remove-league-icon {
	/*border: 1px solid black;*/
	vertical-align: bottom;
	opacity: .4;
}

.remove-league-icon:hover {
	color: maroon;
	text-decoration: underline;
	opacity: 1;
}

.league-submit: {
	margin: 0px;
	padding: 0px;
}

th {
	font-size: .9em;
}

tr {
	font-size: 1.2em;
}

tbody tr:hover {
	text-decoration: underline;
}

.profile-league-standings {
	padding: 0px;
}

.profile-info div {
	display: inline-block;
	margin-right: 50px;
}

.password-change span {
	margin-left: 10px;
}

.edit-profile-button {
	font-size: 0.3em;
	font-weight: 400;
}

.edit-profile-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.fixed-banner-container {
	background-color: rgba(255,255,255,0.9);
}