.login-box {
	background-color: linen;
	padding: 0px;
}

.login-box-inner {
	background-color: white;
	padding: 20px;
}

.login-box input {
	width: 100%;
}

.login-box p {
	margin-bottom: 50px;
}

.warning {
	color: red;
	text-align: center;
	margin-left: 10px;
}

.nav-bar {
	background-color: white;
	padding: 0px;
}

.nav-bar ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.nav-bar li {
	padding: 10px;
	padding-left: 20px;
	margin: 0px;
}

#nav-bar-title {
	background-color: linen;
	margin: 0px;
	padding: 10px;
	font-weight: bold;
}

.content-box {
	width: 100%;
	background-color: white;
	padding: 10px;
}

.matchup {
	width: 100%;
	padding: 20px;
	margin-bottom: 10px;
}

#vs {
	font-size: 20px;
}

.owner-name {
	padding: 0px;
}

.team-name {
	font-size: 20px;
	padding: 0px;
}

.team {
	padding: 0px;
}

.team:hover {
	font-weight: bold;
	cursor: pointer;
}

.vote-selected {
	font-weight: bold;
	color: black;
}

.league-rows {
	list-style: none;
	padding: 3px;
	font-size: 1.1em;
}

.league-rows .league-row {
	margin-left: 10px;
	padding: 5px;
}

.league-header {
	font-size: 1.4em;
	font-weight: bold;
}

.league-selected {
	font-weight: bold;
	color: black;
}