/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #6D6D6D;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 1.6em;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

#mainContainer {
    margin-top: 36px;
}

#article_author {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.articleContainer h1 {
    font-size: 3.5em;
    color: #2A2A2A;
}

.articleContainer {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 0px;
    margin-top: -25px;
}

#article_body {
    margin-top: 0px;
    font-size: 1em;
    font-weight: 400;
}
.articleNav {
    margin-bottom:1px;
    padding: 26px;
    cursor: pointer;
    background-color: white;
}
.articleNavHeader {
    margin-bottom:1px;
    padding: 26px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    background-color: #660066;
}

.navSelected {
    background-color: #C7C7C7;
    color: black;
    border: #F9F9F9 1px solid;
    font-weight: 600;
}

.articleNav:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  background-color: #F9F9F9;
  color: black;
  /*border: 1px #C7C7C7 solid;*/
}

.newsNavBar {
    
    background-color: #C7C7C7;
    /*border: 1px #C7C7C7 solid;
    border-left: 2px #C7C7C7 solid;*/
}


/* Leadeboard styles */
tr .statValue {
    font-weight: 600;
}

.topRowOptions {
    margin-top: -30px;
}


/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);

}

#container {
    margin: 50px;

}

.container {
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
}

.innerMainContainer {

}

#quillContainer {
    width: 800px;
    margin-left: auto ;
    margin-right: auto ;
}

/* SIDEBAR
*/

.sidebar {
    margin-top: -50px;
    margin-left: -80px;
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: #820000;
    text-align: center;
    background-size: cover;
    height: 20px;
    width: 100%;
    margin-bottom: 0em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    font-size: 1.2em;
    color: #E31313;
    font-weight: 600;
}

#title {
    border: 2px solid #E31313;
    padding: 5px;
}

.banner-head #subtitle {
    color: white;
    padding: 6px;
}

.fixedBannerContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    z-index: 100;
}

.scoreNode {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.9em;
    cursor: pointer;
}

#menuContainer {
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
}



