/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #6D6D6D;
    margin: 0px;
}

p {
    line-height: 1.6em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

#article_author {
    font-weight: bold;
}

.articleContainer h1 {
    font-size: 3.5em;
    color: #2A2A2A;
}

.articleContainer {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 16px;
}

#article_body {
    margin-top: 16px;
    font-size: 1.3em;
    font-weight: lighter;
}
.articleNav {
    margin-bottom:1px;
    padding: 16px;
    cursor: pointer;
    background-color: white;
}

.articleNav:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  background-color: #F9F9F9;
  /*border: 1px #C7C7C7 solid;*/
}

.newsNavBar {
    
    background-color: #C7C7C7;
    /*border: 1px #C7C7C7 solid;
    border-left: 2px #C7C7C7 solid;*/
}

.header {
    font-weight: bold;
    color: white;
    background-color: #660066;
}


/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);

}

#container {
    margin: 50px;

}

#quillContainer {
    width: 800px;
    margin-left: auto ;
    margin-right: auto ;
}

/* SIDEBAR
*/


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: #510000;
    text-align: center;
    background-size: cover;
    height: 100px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

.banner-head #title {
    border: 2px solid white;
    padding: 6px;

}

.banner-head #subtitle {
    color: white;
    padding: 6px;
}
}




